/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Media Queries */

#map {
    height: 100%;   
}

#floating-panel {
  position: absolute;
  width: 600px;
  top: 200px;
  z-index: 5;
  padding: 5px;
  border: 0px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

body, html {
    font-size: 100%; 	
    padding: 0; 
    margin: 0;
    width: 720px;
    height: 1280px;
    background-color: floralwhite;
}
}

section {
  float: left;
  margin: 0 1.5%;
  width: 63%;
}

#header {
    background-color: #47a3da;
    color:white;
    text-align:center;
    padding:5px;
}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;

}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.main,
.container > header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.container > header {
	padding: 2.875em 1.875em 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0;
	float: left;
	font-weight: 400;
}

.container > header span {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header nav {
	float: right;
}

.container > header nav a {
	display: block;
	float: left;
	position: relative;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	color: transparent;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
	text-indent: -8000px;
}

.container > header nav a:after {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	opacity: 0;
	pointer-events: none;
}

.container > header nav a:hover:after {
	opacity: 1;
}

.container > header nav a:hover {
	background: #47a3da;
}

.main > section {
	max-width: 260px;
	width: 90%;
	margin: 0 auto;
}

.main > section h2 {
	font-weight: 300;
	color: #ccc;
}


.main > section button {
	border: none;
	background: #47a3da;
	color: #fff;
	padding: 1.5em;
	display: block;
	cursor: pointer;
	margin: 10px -215px;
	font-size: 0.8em;
}

.main > section button:hover {
	background: #258ecd;
}

.main > section button.active {
	background: #0d77b6;
}

.main > section button.disabled {
	background: #aaa;
	pointer-events: none;
}

.icon-drop:before, 
.icon-arrow-left:before {
	font-family: 'fontawesome';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 2;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
	text-indent: 8000px;
	padding-left: 8px;
}

.container > header nav a:hover:before {
	color: #fff;
}

.icon-drop:before {
	content: "\e000";
}

.icon-arrow-left:before {
	content: "\f060";
}

/* Div border */
.listborder {
    border-radius: 25px;
    border: 2px solid #47a3da;
    padding: 20px; 
    width: 950px;
    height: 300px; 
}

/* star div */

.starDiv{
    float: left;
	width: 150px;
    height: 32px;
}

lable{
    font-size: 3.5em;
	line-height: 1.0;
	margin: 2px 0;
	float: left;
	font-weight: 400;
}

h{
    font-size: 4.25em;
	line-height: 1.0;
	margin: 2px 0;
    float: inherit;
}


input[type=time] {
    font-size: 3.5em;
    color: #47a3da;
    font-style: italic;
    height:40px;
    border: 0;
    width: 250px;
    margin-left:1px;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;

}
input[type=time]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}

input[type=date] {
    font-size: 3.5em;
    color: #47a3da;
    font-style: italic;
    height:40px;
    border: 0;
    width: 250px;
    margin-left:1px;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;

}
input[type=date]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}

input[type=text] {
    font-size: 3.5em;
    color: #47a3da;
    font-style: italic;
    height:100px;
    border: 0;
    width: 400px;
    margin-left:1px;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;

}
input[type=text]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}
input[type=password] {
    font-size: 3.5em;
    font-style: italic;
    color: #47a3da;
    height:100px;
    border: 0;
    width: 400px;
    margin-left:1px;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}
input[type=password]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}

input[type=location] {
    font-size: 2em;
    font-style: italic;
    color: #47a3da;
    height:50px;
    border: 0;
    width: 630px;
    margin-left:1px;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}
input[type=location]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}


input[type=number] {
    font-size: 2.0em;
    font-style: italic;
    color: #47a3da;
    height:100px;
    border: 0;
    width: 250px;
    margin-left:1px;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}
input[type=number]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}




